    * {
        margin: 0%;
        padding: 0%;
    }
    
    body {
        background: url(./bg1.jpg)no-repeat;
        background-size: cover;
    }
    
    div.main {
        width: 500px;
        margin: 70px auto 0px auto;
    }
    
    h2 {
        color: #75E4E6;
        font-size: 50px;
        text-align: center;
        padding: 20px;
        font-family: 'Praise', cursive;
    }
    
    div.form {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
        color: #fff;
    }
    
    form#submit {
        margin: 40px;
    }
    
    input#name {
        margin-left: 20px;
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 3px;
        outline: 0;
        padding: 7px;
        background-color: #fff;
        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
    }
    
    input#submit {
        width: 200px;
        padding: 8px;
        font-size: 16px;
        font-family: sans-serif;
        border-radius: 3px;
        background-color: rgba(250, 100, 0, 0.8);
        color: #fff;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    h2 {
        text-shadow: 1px 1px 5px rgba(0, 0, 0.3);
    }
    
    span {
        margin-left: 20px;
    }
    
    input {
        margin-left: 20px;
    }
    
    label {
        margin-left: 20px;
    }
    
    select {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        padding: 5px;
        padding-right: 5px;
        margin-left: 20px;
    }